@import "Ginkgo";
@import "bootstrap/bootstrap";

html {
  font-size: 16px;
  height: 100%;
}

body {
  position: relative;

  display: inline-block;
  width: 100%;

  margin: 0;
  padding: 0;
  color: black;

  font-family:'Ubuntu', 'Noto Sans TC', "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
}

.kv-boxs {
  display: inline-block;
  width: 100%;
  min-height: 810px;
  margin:0;
  padding:0;
  background: #000 url(../img/banner.png) center right no-repeat;
  -moz-background-size: cover;
  background-size: cover;

  @include range-width(0, 450px) {
    background: #000 url(../img/mobile_bg.png) center 33px  no-repeat;
    -moz-background-size: contain;
    background-size: contain;
    min-height: auto;
  }
}

.text01 {
  border: 1px solid rgba(255, 0, 0, .3);
}

.allBoxs {
  width: 100%;
  margin: 0 auto;
  max-width: 940px;

  // background-color: rgba(255, 0, 0, 0.2);
}

.lh-base2 {
  line-height: 1.8rem;
}

.t-pt105 {
  padding: 10% 0;
}

.t-pt3 {
  padding-top: 3%;

  @include range-width(0, 450px) {
    padding-top: 7%;
  }
}

.w-25, .w-75 {
  @include range-width(0, 450px) {
    width: 100% !important;
  }
}

.h500 {
  height: 600px;

  @include range-width(376px, 450px) {
    height: 640px;
  }

  @include range-width(0, 376px) {
    height: 585px;
  }
}

.bar {
  display: inline-block;
  width: 100px;
  height: 3px;
  background-color: #7C31DF;
  margin-bottom: 20px;
}

.t-mt80 {
  margin-top: 80px;

  @include range-width(0, 450px) {
    margin-top: 50px;
  }
}

footer {
  display: inline-block;
  width: 100%;
  padding: 25px 0;
  border-top: 5px solid #D71E21;
  border-image: linear-gradient(to right, rgba(28, 84, 123, 1.00) 0%, rgba(187, 49, 58, 1.00) 100%);
  border-image-slice: 1;

  @include range-width(0, 450px) {
    padding: 15px;
  }

  .f-img01 {
    display: inline-block;
    width: 100%;
    max-width: 115px;
    padding-top: 7px;
  }

  .f-img02 {
    display: inline-block;
    width: 100%;
    max-width: 200px;
  }

  .f-img03 {
    display: inline-block;
    width: 100%;
    max-width: 125px;
  }
}

.link-l {
  display: inline-block;
  color: white;
  font-size: .9rem;
  text-decoration: none;
  margin-bottom: 30px;

  &:hover {
    color: white;
    text-decoration: underline;
  }

  @include range-width(0, 450px) {
    margin-bottom: 7px;
  }
}








